.main-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.content-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.divider {
    background-color: var(--border);
    height: 1px;
    width: 100%;
}

.notes-grid {
    flex: 1;
}